@using BTPBCommon.Clients;
@using BTPBCommon.Projects;
@using System.Globalization;
@{
    ViewData["Title"] = "Vos Projets";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>
<input type="button" value="Créer un projet" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "Projects") + "'");" />
<div id="projects_table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Projet</th>
                <th scope="col">Description</th>
                <th scope="col">Date de création</th>
                <th scope="col">Nbr. Documents</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Project p in ViewData["Projects"] as List<Project>)
        {
            <tr class="table-active">
                <td>@p.Title</td>
                <td>@p.Description</td>
                <td>@p.Created</td>
                <td>@p.Documents.Capacity</td>
            </tr>
        }
            
        </tbody>
    </table>
</div>
